-if flash[:notice]
  .form_notice
    = flash[:notice]
#contact_form
  %h2
    Tell me
    %i exactly
    what you think
  = form_for @contact do |f|
    .name= f.text_field :name, :placeholder => 'Name (optional)'
    .email_address= f.text_field :email, :placeholder => 'Email Address (optional)'
    .message= f.text_area :message, placeholder: 'Your message here.'
    #contact_button= f.submit 'Send it away!', :id => 'sign_up'
