%p#notice= notice

%p
  %b Email:
  = @contact.email
%p
  %b Name:
  = @contact.name
%p
  %b Message:
  = @contact.message

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
